snippet func "Function declaration"
function $0($1) {
	${2:${VISUAL}}
}
endsnippet

snippet fn "Lambda function declaration"
($0) => ${1:${VISUAL}}
endsnippet


snippet class "Class declaration"
class $0 {
	${1:${VISUAL}}
}
endsnippet
